
@import url("style/style-lang.css");

em:lang(zh) {
    text-emphasis-style: '\E001';
    text-emphasis-position: under;
}

em:lang(ja), em:lang(ko) {
    text-emphasis-style: '\E001';
    text-emphasis-position: over;
}

html :lang(grc) {
    font-family: Palatino, serif;
}
